<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
  <title>Islander Sports</title>
  <style>
    body,
    html {
      background-color: #EDEEF0;
    }

    h1 {
      text-align: center;
      font-size: 50px;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      padding-top: 15px;
    }

    th {
      color: #6B6D6F;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
    }

    td {
      color: #6B6D6F;
      font-size: 15px;
      text-align: center;
      max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    }

    a {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
    }

    ul {
      color: black;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }

    tr {
      border: solid #F0F2F3;
      border-width: 1px 0;
    }

    tr:nth-child(even) {
      background-color: #FAFAFA;
    }
    @media (min-width:1025px) { .container { width: 80% !important;} }

  </style>
</head>